@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      
    }

    .gbtn{
      
      background: radial-gradient(#0000, blue, #0000);
      color: white;
      height: 100px;
      width: 220px;
      font-size: 32px;
      /* opacity: 40%; */
      border: none;
      border-radius: 1px;
      box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3); 
    
  
  
    }
    .btnText {
      color: white
      
    }
  }

  